@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

.character-card {
  &--wrapper {
    background-color: $black-filter;
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 19rem;
    overflow: hidden;
    width: 100%;
  }

  &__header{
    margin-bottom:2rem;
    @include flex(row,flex-start);
  }

  &__content {
    box-sizing: border-box;
    height: 100%;
    padding: 1.5rem 1rem;
    width: 100%;
  }
  
  &__img {
    height: 100%;
    pointer-events: none;
    position: relative;
    top:-19rem;
    width: 100%;
    z-index: -1;
  }
}