main {
  @media (max-width: 720px) {
    width: 90%;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(449px, 1fr));
    background: #000000;

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }

    .card {
      position: relative;
      max-width: 449px;
      height: 317px;

      @media (max-width: 720px) {
        width: 100%;
      }
    }
  }
}

.description {
  padding: 1.188rem;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: #000000;
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    div {
      margin-right: 0.375rem;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--status-green);
    }

    strong {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 21px;

      color: #ffffff;
    }
  }

  section {
    margin-bottom: 2.563rem;
    h1 {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 2.938rem;

      color: var(--text-title);
    }

    span {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1rem;

      color: var(--white);
    }
  }

  footer {
    h2 {
      margin-bottom: 0.563rem;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.313rem;

      color: var(--text-title);
    }

    ul {
      li {
        list-style: none;
        margin-bottom: 0.375rem;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1rem;

        color: var(--white);
      }
    }
  }
}
